<!--  服务器IP配置  弹窗   -->
<div class="modal-header g-modal-header" modal-move>
	<button type="button" class="close"  ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title"></h4>
</div>
<div class="modal-body g-modal-body m-area-modal">
	<h4 class="text-center" style="margin-top: -5px; margin-bottom: 22px;">添加水印</h4>
	<div class="body-body">
		<div class="span">上传图片</div>
		<div class="upimg">
			<img src="img/icon-006.png" style="width: 50px; height: 50px; float: left; margin-right: 10px; " />
			<span>注：图片大小不超过200K，格式jpg、png</span>
		</div>
	</div>
</div>

<div class="modal-footer g-modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
    <button type="button" class="btn btn-info" ng-click="ok()">保存</button>
</div>